# Licensed under GPL v3 - Check Repository Root for full License notice.
# osu!Hikaru, a fully independent osu!Lazer Private Server backend.
# Copyright (C) 2023 Hikaru Team <copyright@hikaru.pw>

# Database Configuration

MARIADB_HOST=127.0.0.1
MARIADB_USERNAME="hikaru"
MARIADB_PASSWORD=""
MARIADB_DATABASE="hikaru"

# Express Configuration

EXPRESS_PORT=8080

# Lazer Tap Configuration

LAZER_USERNAME=""
LAZER_PASSWORD=""
LAZER_CLIENT_ID=""
LAZER_CLIENT_SECRET=""

# Morgan Configuration

MORGAN_ENABLED="false"
MORGAN_FORMAT="dev"


